@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap");
* {
  pad: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe6cc;
  font-family: "Kanit", sans-serif;
}

.Layout {
  display: flex;
  height: 100vh;
  gap: 2rem;
}

.sidebar_wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: white;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar_top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}

.sidebar_logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_list {
  list-style: none;
  padding-left: 0%;
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  border: 0.8rem;
}

.sidebar_icon {
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar_name {
  margin-left: 0.5rem;
}

.sidebar_logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.5rem;
  border: none;
  background-color: rgb(255, 255, 255);
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid rgb(85, 85, 85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
  display: none;
}
