@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&family=Press+Start+2P&display=swap");

* {
  pad: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0d3b1;
  font-family: "Press Start 2P", cursive;
  color: rgb(253, 253, 253);
}

.Layout {
  display: flex;
  height: 100vh;
  gap: 2rem;
}

.sidebar_wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: white;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sidebar_top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
  color: black;
}

.sidebar_logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_list {
  list-style: none;
  padding-left: 0%;
}

.sidebar_link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  border: 0.8rem;
}

.sidebar_icon {
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar_name {
  margin-left: 0.5rem;
}

.sidebar_logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.5rem;
  border: none;
  background-color: rgb(255, 255, 255);
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid rgb(85, 85, 85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar_name,
[data-collapse="true"] .sidebar_logo-name {
  display: none;
}

/*Game--------------------------------------------------------------------------*/

.even {
  top: 0;
  position: relative;
  display: inline-block;
  width: fit-content;
  margin-right: 0;
  /* left: -5px; */
}

.odd {
  top: 42px;
  display: inline-block;
  width: fit-content;
  margin-right: 0;
  position: relative;
}
/*Timer--------------------------------------------------------------------------*/
.countdown {
  transform: translateY(50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  color: black;
  position: fixed;
}
/*Done--------------------------------------------------------------------------*/
.done-button {
  position: fixed;
  width: 120px;
  height: 120px;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #4caf50;
  padding: none;
  border: 5px solid #4caf50;
  border-radius: 40px;
  font-size: 25px;

  font-weight: bold;
  cursor: pointer;
}
.done-button:hover {
  background-color: #292929;
}
/*Construction--------------------------------------------------------------------------*/
.Construction-button {
  position: fixed;
  width: 120px;
  height: 120px;
  bottom: 150px; /* change the bottom position to move the button up */
  right: 20px;
  background-color: #ffffff;
  color: #af904c;
  padding: none;
  border: 5px solid #af904c;
  border-radius: 40px;
  font-size: 15px;

  font-weight: bold;
  cursor: pointer;
}

.Construction-button:hover {
  background-color: #292929;
}
/*Setting Page--------------------------------------------------------------------------*/

.Text_IP {
  font-size: 80px;
  color: black;
}
.InputIP {
  font-size: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 500px;
  height: 100px;
}

.Done_button_IP {
  float: right;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  margin-left: 500px;
  /* margin-top: 15px; */
  padding: 10px 15px;
  background-color: #79e6df;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}
/*Player Page--------------------------------------------------------------------------*/

.selectplayer {
  position: absolute;
  left: 50%;
  top: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #000000;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fdfdfd;
  text-stroke-width: 3px;
  text-stroke-color: #ffffff;
}

.Player_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.PlayerSelect_buttons {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 20px;
}

.PlayerSelect_button_left {
  height: 200px;
  width: 600px;
  flex-grow: 1;
  margin-left: 200px;
  margin-right: 20px;
  font-family: "Press Start 2P", cursive;
  border: 20px;
  background-color: #50b3e5;
  border-radius: 20px;
  font-size: 50px;

  font-weight: bold;
  cursor: pointer;
}
.PlayerSelect_button_left:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.PlayerSelect_button_right {
  height: 200px;
  width: 600px;
  margin-left: 20px;
  margin-right: 200px;
  flex-grow: 1;
  border: 20px;
  background-color: #ff5e58;
  border-radius: 20px;
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  cursor: pointer;
}
.PlayerSelect_button_right:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.BacktoIPpage {
  position: fixed;
  width: 120px;
  height: 120px;
  bottom: 20px;
  left: 20px;
  background-color: #ffffff;
  color: #ff4242;
  padding: none;
  border: 5px solid #ff4242;
  border-radius: 40px;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  cursor: pointer;
}
.BacktoIPpage:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.Go_set_constructionplan_button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  margin-top: 20px;
  padding: 20px 20px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  background-color: #522d79;
  color: rgb(252, 252, 252);
  font-size: 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.Go_set_constructionplan_button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/*ConstructionPlan Input in game--------------------------------------------------------------------------*/
.input {
  font-size: 16px;
  font-family: "Press Start 2P", cursive;
  border: 1px solid #ccc;
  width: 90%;
  height: 500px;
  position: relative;
  right: 10px;
}

/*Zoom--------------------------------------------------------------------------*/
.Zoomin {
  background-color: #7c94d7; /* green background color */
  color: white; /* white text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  margin-right: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.Zoomin:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.Zoomout {
  background-color: #eeb85b; /* red background color */
  color: white; /* white text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 140px;
}

.Zoomout:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/*Start Game Page--------------------------------------------------------------------------*/
.StartGame_Container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.Center_startGame {
  text-align: center;
}

.Center_startGame img {
  width: 900px;
  height: 900px;
  transform: translateX(-50%, -50%);
  transform: translateY(-50%, -50%);
}
.StartGame_button {
  margin-top: 150px;

  font-family: "Press Start 2P", cursive;
  color: rgb(0, 0, 0);
  font-size: 180px;
  cursor: pointer;
}

.StartGame_button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/*Construction Plan Page--------------------------------------------------------------------------*/
.ConstructionPlan_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Text_ConstructionPLan {
  font-size: 80px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #080808;
}
.ConstructionPlanHelp {
  width: 1000px;
  height: 300px;
  background-color: #3e8e41;
}

.TextAreaConstructionPlan {
  margin-top: 40px;
  width: 1200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
}

.Back_button_Con {
  position: fixed;
  width: 120px;
  height: 120px;
  bottom: 20px;
  left: 20px;
  background-color: #ffffff;
  color: #ff4242;
  padding: none;
  border: 5px solid #ff4242;
  border-radius: 40px;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  cursor: pointer;
}

.Back_button_Con:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.Go_button_Con {
  position: fixed;
  width: 120px;
  height: 120px;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #79e67d;
  padding: none;
  border: 5px solid #79e67d;
  border-radius: 40px;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  cursor: pointer;
}
.Go_button_Con:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.Done_button_Con {
  float: right;
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  margin-left: 500px;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #79e6df;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.Done_button_Con:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/*Change Construction Plan Button--------------------------------------------------------------------------*/

.form {
  margin-top: 80px;
}
.submit-button {
  margin-top: 5px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3e8e41;
}

/*Input in game--------------------------------------------------------------------------*/

.textplan {
  margin-top: 20px;
}

.inputplan {
  margin-top: 20px;
  width: 80%;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 20px;
  margin-left: 30px;
}

.saveplan {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #55e284;
  color: #080808;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}
.saveplan:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/*Hex Pattern--------------------------------------------------------------------------*/
img {
  /* display: block; */
  margin: 0 auto;
  padding: 0 auto;
}

/*Frame--------------------------------------------------------------------------*/
.frame {
  width: 1200px;
  height: 1800px;
  border: 1px solid black;
}

.draggable {
  position: absolute;
  cursor: move;
  background-color: blue;
  color: white;
  padding: 8px;
}
